* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background: #000000;
	color:#fff;
	width: 900px;
	font-family: 'Roboto', sans-serif;
	max-width: 100%;
	margin:0 auto;
}

nav {
	display: flex;
	justify-content: space-between;
	color: #fff;
}

.nav-links {
	display: flex;
	color: #fff;
}

.nav-links li {
	list-style-type: none;
	margin-left :10px;
	text-decoration: none;
	margin:10px;
	font-weight: 600;
	color: #fff;
}
a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}




.nav-links a:hover{
	color: #A32CC4;
}

.homepage{
	padding-top:100px;
	display: grid;
	grid-template-columns: 50% 50%;
	
}

.homepage h1{
	font-size: 42px;
}

.homepage button{
	border: 2px solid #A32CC4;
	border-radius: 8px;
	padding: none;
	background: transparent;
	color: #A32CC4;
	font-size: 23px;
	font-weight: 500;
	margin-top: 110px
	
}
.homepage button:hover{
	transform:scale(1.2);
	margin-top:110px;
	cursor: pointer;
	margin-left: 25px;
}

div img {
	max-height: 500px;
	max-width: 350px;
	margin-left: 100px;
	padding: none;
}

main .mainpara{ 
	text-align:center;
	padding-top: 45px;
}
main h1 {
	text-align: center;
}

.skills {
	display:grid;
	grid-template-columns: 1fr 1fr;
	border: solid 1px #fff;
	column-rule-width: 4px;
	border-radius: 40px;
	padding-left: 20px;
	text-align: center;
	margin-bottom: 50px;
}

.skills .html img{
	margin: 0;
	height: 25%;
	width: 40%;
}
.skills .css {
    border-left: solid 1px;
    padding-left: 8px;
}
.skills .css img{
	margin: 0;
	height: 25%;
	width: 40%;
	margin-left: 24px;
}

.skills h4{
	color: #A32CC4;
	font-size: 18px;
	font-weight: 600px;
}
.skills li{
	list-style-type: none;
}

.portfoliobtn{
	margin-left: 42%;
	margin-right: 50%;
	display: inline;
	
}
.portfoliobtn button{
	border: solid 2px;
	border-radius: 8px;
	padding: none;
	background: transparent;
	color: #A32CC4;
	font-size: 24px;
	font-weight: 500;
	height:50px;
	margin-bottom: 100px;
}
.portfoliobtn button:hover {
	cursor: pointer;
	color: #A32CC4;
	transform: scale(1.2)
}
.portfoliosite{
	max-height: 500px;
	max-width: 350px;
	margin-left: 10px;
}
.portfoliosite:hover{
	transform: scale(1.5)
}
 .container {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 60% 40%;
}
.container div {
	border-bottom: 0.5px solid #fff;
}
.container h4{
	color: #fff;
	font-size:20px;
	text-decoration: underline;
}
.contact {
	text-align: center;
	margin-top: 50px;
}

.contact button{
	border: solid 2px;
	border-radius: 8px;
	padding: none;
	background: transparent;
	color: #A32CC4;
	font-size: 24px;
	font-weight: 500;
	height:50px;
	margin-bottom: 100px;
	margin-top:65px;
}

.contact button:hover{
	color: #A32CC4;
	cursor: pointer;
	transform: scale(1.2);
}

.btncolor{
	color: #fff;
}

.contact {
	text-align: center;
	font-size: 45px;
}
.contactform{
	display: block;
	
}
.contactform form {
	background: transparent;
}

label { display:block }

.contactform label { 
	text-align: center;
	padding: 5px;
}

.contactform input{
	width: 100%;
	background: transparent;
	
}


.contactform textarea {
	width: 100%;
	background: transparent;
}
.contactform button{
	border: solid 2px #A32CC4;
	border-radius: 8px;
	padding: none;
	background: transparent;
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	height:50px;
	margin-bottom: 100px;
	margin-left: 45%;
}

.contactform button:hover{
	transform:scale(1.2);
	margin-top: 10px;
	
}

footer {
	padding-top: 50px;
	
}
footer img{
	height: 40px;
	width: 40px;
	padding: 10 10;
	
}
.facebook:hover{
	border: 1px solid #fff;
	border-radius: 50%;
	transform: scale(1.2);
	
}

.twitter:hover{
	border: 1px solid #fff;
	transform: scale(1.2);

}

.linkedin:hover{
	border: 1px solid #fff;
	border-radius: 4px;
	transform: scale(1.2);
	
}

.instagram:hover{
	border: 1px solid #fff;
	border-radius: 8px;
	transform: scale(1.4);
}